.button
{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    flex:1;
    margin: 10px;
}
#board
{
  display:body;
  height:960px;
  width:960px;
  outline :1px solid black;
  
}

