.button
{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    flex:1;
}
#board
{
  display:body;
  height:960px;
  width:960px;
  border-style: solid;
  
}
